@page "/login"
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))
@using Zcrypta.Entities.Models
@using Zcrypta.Client.Authentication
@using Zcrypta.Client.Layout
@using Microsoft.AspNetCore.Components.Authorization
@layout EmptyLayout
@inject HttpClient httpClient
@inject NavigationManager Navigation
@inject AuthenticationStateProvider AuthStateProvider




<div class="d-flex flex-grow-1 gap-4">
    <MudTextField @bind-Value="username" Label="Enter Username" Variant="Variant.Outlined" Class=""></MudTextField>
    <MudTextField @bind-Value="password" Label="Enter Password" Variant="Variant.Outlined" Class=""></MudTextField>

    <MudButton Class="ms-4" OnClick="() =>HandleLogin()" Variant="Variant.Filled" Color="Color.Primary">Sign In</MudButton>
</div>

@code {
    private string username;
    private string password;
    private LoginModel loginModel = new LoginModel();
    private async Task HandleLogin()
    {
        loginModel.Username = username;
        loginModel.Password = password;
        var response = await httpClient.PostAsJsonAsync("/api/auth/login", loginModel);

        var res = Newtonsoft.Json.JsonConvert.DeserializeObject<LoginResponseModel>(await response.Content.ReadAsStringAsync());
        if (res != null && res.Token != null)
        {
            await ((CustomAuthStateProvider)AuthStateProvider).MarkUserAsAuthenticated(res);
            Navigation.NavigateTo("/");
        }
    }
}
